[flake8]
exclude = .git,.github,.pytest_cache,.venv,__pycache__,examples,docs,build,dist
paths = src/robinhood_client
max-line-length = 127
# High for now while refactoring - should be 10
max-complexity = 21
per-file-ignores =
    # F401: module imported but unused
    # F403: unable to detect undefined names
    # E402: module level import not at top of file
    __init__.py: F401, F403, E402